@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">#</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Price$</td>
                <td>
                    <form method="get" asp-page-handler="Edit">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button class="btn btn-outline-warning" type="submit">Edit</button>
                    </form>
                </td>
                <td>
                    <form method="post" asp-page-handler="Delete">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button class="btn btn-outline-danger" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Product != null )
{
    <form method="post">
        <input type="hidden" asp-for="Product.Id" />
        <div class="mb-3">
            <label class="form-label" asp-for="Product.Name"></label>
            <input asp-for="Product.Name" class="form-control" />
            <span asp-validation-for="Product.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Product.Price"></label>
            <input asp-for="Product.Price" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Product.Description"></label>
            <input asp-for="Product.Description" class="form-control" />
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Product.Discount"></label>
            <input asp-for="Product.Discount" class="form-control" />
            <span asp-validation-for="Product.Discount" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">Edit Product</button>
    </form>
}
else
{
    <form method="post"> 
        <div class="mb-3">
            <label class="form-label" asp-for="Product.Name"></label>
            <input asp-for="Product.Name" class="form-control" />
            <span asp-validation-for="Product.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Product.Price"></label>
            <input asp-for="Product.Price" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Product.Description"></label>
            <input asp-for="Product.Description" class="form-control" />
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="Product.Discount"></label>
            <input asp-for="Product.Discount" class="form-control" />
            <span asp-validation-for="Product.Discount" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">Add Product</button>
    </form>
}
